Resources:
{% for rule in rules %}
  ConfigRule{{ loop.index }}:
    Type: 'AWS::Config::ConfigRule'
    Properties:
      ConfigRuleName: "{{ rule.id }}-{{ rule.name }}"
      Description: "{{ rule.description }}"
      Source:
        Owner: "AWS"
        SourceIdentifier: "{{ rule.source_identifier }}"
      Scope:
        ComplianceResourceTypes:
          - "{{ rule.resource_type }}"
{% endfor %}
