AWSTemplateFormatVersion: '2010-09-09'
Description: "Standalone AWS Config Rule: {{ rule.name }}"

Resources:
  ConfigRule:
    Type: 'AWS::Config::ConfigRule'
    Properties:
      ConfigRuleName: "{{ rule.id }}-{{ rule.name }}"
      Description: "{{ rule.description }}"
      Source:
        Owner: "{{ rule.source.owner }}"
        SourceIdentifier: "{{ rule.source.identifier }}"
      Scope:
        ComplianceResourceTypes:
          - "{{ rule.resource_type }}"